PORT=3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=shaobuqi
DB_PASSWORD=WeRMAiS4B2tTdJfn
DB_NAME=shaobuqi
DB_CONNECTION_LIMIT=10

JWT_SECRET=shaobuqi_dev_jwt_secret_2026_very_strong_secret_key
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173

MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=replace_with_minio_access_key
MINIO_SECRET_KEY=replace_with_minio_secret_key
MINIO_BUCKET=shaobuqi
MINIO_PUBLIC_BASE_URL=http://file.shaobuqi.com/shaobuqi
